body {
  margin: 0;
  background: linear-gradient(to bottom, #050510, #0b0b2b);
  color: white;
  font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center top;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: 0.3s;
}

.navbar a:hover {
  color: #00d9ff;

  text-shadow:
    0 0 5px #00d9ff,
    0 0 10px #00d9ff,
    0 0 20px #00d9ff;
}

/* HERO SECTION */
.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}

/* Neon glow bakgrunn */
.hero::before,
.hero::after {
  content: "";
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  filter: blur(120px);
  opacity: 0.4;
}

.hero::before {
  background: #ff00aa;
  top: 10%;
  left: 10%;
}

.hero::after {
  background: #00d9ff;
  bottom: 10%;
  right: 10%;
}

/* Innhold */
.hero-content {
  z-index: 2;
}

/* Overskrift */
.logo-main {
  font-size: 6rem;
  letter-spacing: 8px;
  margin: 0;
  color: #5b59d5;

  text-shadow:
    0 0 5px #6e5acf,
    0 0 10px #6e5acf,
    0 0 20px #6e5acf,
    0 0 40px #6e5acf;
}

/* Festlig tekst */
.logo-script {
  font-size: 7rem;
  margin-top: -20px;
  margin-bottom: 20px;

  font-family: 'Oswald', Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ff00aa;

  text-shadow:
    0 0 5px #ff00aa,
    0 0 10px #ff00aa,
    0 0 20px #ff00aa,
    0 0 60px #ff00aa;
}

/* Undertekst */
.subtitle {
  font-size: 1.5rem;
  color: white;
}

.info-section {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;

  padding: 80px 40px;
  flex-wrap: wrap;
}

.about-box,
.contact-box {
  width: 500px;

  background: rgba(0, 0, 0, 0.9);
  color: white;

  padding: 50px;
  border-radius: 20px;

  text-align: center;
}

.contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  padding: 60px 80px;

  background: rgba(255,255,255,0.08);

  border-top: 1px solid rgba(255,255,255,0.2);

  margin-top: 100px;
}

.about-box,
.contact-box {
  background: transparent;
  width: 45%;
  padding: 0;
  border-radius: 0;
  text-align: left;
}

.about-box h2,
.contact-box h2 {
  font-size: 35px;
  margin-bottom: 20px;
}

.about-box p,
.contact-box p {
  font-size: 20px;
  line-height: 1.8;
}